<div class="cell item" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
    <div class="sep10"></div>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td width="48" valign="top" align="center">
                    <a href="/home"><img src="{{ static_url(post["icon"]) }}" class="avatar" border="0" align="default" width="32"></a>
                </td>
                <td width="10"></td>
                <td width="auto" valign="middle">
                    <span class="item_title"><a href="/topic?pid={{ post["pid"] }}">{{ post["title"] }}</a></span>
                    <div class="sep5"></div>
                    <span class="small hfade">
                        <a class="node" href="/home">{{ post["section"] }}</a>
                         " &nbsp;•&nbsp; "
                        <strong><a href="/home">{{ post["user"] }}</a></strong>
                        " &nbsp;•&nbsp; {{ post["time"] }} &nbsp;•&nbsp; last reply
                        <strong><a href="/home"><span class="badge"></span> {{ post["lastRe"] }}</a></strong>
                    </span>
                </td>
                <td width="50" align="right" valign="middle">
                    <a href=""><span class="badge">{{ post["reNum"] }}</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
