{% extends "home.html" %}

{% block top_3 %}
    <td width="570" align="right" style="padding-top: 2px;">
        <a href="/home" class="top">Home</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/signup" class="top">Sign Up</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/signin" class="top">Sign In</a>
    </td>
{% end %}

{% block wrapper_rightbar_box1 %}
    <div class="box">
        <div class="cell">
            <strong>Ran - cpsc 304 project</strong>
            <div class="sep5"></div>
            <span class="hfade">This is a place to share and explore</span>
        </div>
        <div class="inner">
            <div class="sep5"></div>
            <div align="center">
                <a href="/signup" class="super normal button">Sign Up Right Now</a>
                <div class="sep5"></div>
                <div class="sep10"></div>
                Already have an account? please&nbsp;
                <a href="/signin">Sign In</a>
            </div>
        </div>
    </div>
{% end %}

{% block wrapper_rightbar_box2 %}{% end %}

{% block wrapper_main_box1 %}
    <div class="box">
        {% if warning %}
        <div class="cell">
            <div class="alert alert-danger" role="alert">{{warning}}</div>
        </div>
        {% end %}
        <div class="cell">
            <form class="form-signin" action="/db" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input id="inputEmail" name="mail" class="form-control" type="email" placeholder="Email Address" required="" autofocus="">
                <input id="inputPassword" name="pwd" class="form-control" type="password" placeholder="Password" required="">
                <div class="checkbox"><label><input type="checkbox" value="remember-me">Remember me</label></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
{% end %}

{% block wrapper_main_box2 %}
    <div class="box">
        <div class="cell">
            <div class="fr">
                <a href="/">See all the theme</a>
            </div>
            <span class="hfade">
                <strong>Ran</strong>
                " / Theme Navigation"
            </span>
        </div>
        <div class="cell">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td align="right" width="60">
                            <span class="hfade">All</span>
                        </td>
                        <td style="line-height: 200%; padding-left: 10px;">
                            {% for section in sections %}
                            <a href="/" style="font-size: 14px;">{{section}}</a>
                            {% end %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inner"></div>
    </div>
{% end %}

{% block wrapper_main_box3 %}{% end %}
